<template>
  <div class="input-box">
    <span class="rulers">line({{lineId}}) id({{itemId}})</span>  
    <input type="number" :itemId="itemId" :disabled="checkbox" v-model="number" :lineId="lineId">
    <input type="checkbox" v-model="checkbox">
    <button @click="save" v-if="changed">Save</button>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "input-box",
  props: ["itemId", "lineId"],
  data: function() {
    return {
      //initial random value
      val: Math.floor(Math.random() * 10),
      check: Math.random() * 10 > 4 ? true : false
    };
  },
  computed: {
    number: {
      get() {
        //if element was changed returns its data else random data
        let el = this.$store.state.items.find(el => {
          return el.lineId == this.lineId && el.itemId == this.itemId;
        });
        return el ? el.value : this.$data.val;
      },
      set(val) {
        //saves changed element to store
        this.$store.commit("changeV", {
          lineId: this.lineId,
          itemId: this.itemId,
          value: val,
          checked: this.checkbox,
          changed: true
        });
      }
    },
    checkbox: {
      get() {
        //if element was changed returns its data else random data
        let el = this.$store.state.items.find(el => {
          return el.lineId == this.lineId && el.itemId == this.itemId;
        });
        return el ? el.checked : this.$data.check;
      },
      set(val) {
        //saves changed element to store
        this.$store.commit("changeV", {
          lineId: this.lineId,
          itemId: this.itemId,
          value: this.number,
          checked: val,
          changed: true
        });
      }
    },
    changed() {
    //returns if element was changed
      let el = this.$store.state.items.find(el => {
        return el.lineId == this.lineId && el.itemId == this.itemId;
      });
      return el && el.changed;
    },
    ...mapState(["scroll"])
  },
  methods: {
    //save button
    save() {
      console.log(
        `input line(${this.lineId}), id(${this.itemId}), value ${
          this.number
        }, disabled : ${this.checkbox},`
      );
      this.$store.commit("save", {
        lineId: this.lineId,
        itemId: this.itemId
      });
    }
  },
  // change input values depending on line and column
  watch: {
    itemId: function() {
      this.$data.val = Math.floor(Math.random() * 10);
      this.$data.check = Math.random() * 10 > 4 ? true : false;
    },
    lineId: function() {
      this.$data.val = Math.floor(Math.random() * 10);
      this.$data.check = Math.random() * 10 > 4 ? true : false;
    }
  }
};
</script>

<style>
.input-box {
  display: flex;
  position: relative;
  padding: 2px;
  padding-top: 1.2rem;
  border: 1px solid #000;
  height: 45px;
  box-sizing: border-box;
  width: 180px;
}
.input-box button {
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 0.7rem;
}
.rulers {
  font-size: 0.7rem;
  position: absolute;
  top: 1px;
  left: 1px;
}
</style>