<template>
  <div id="app">
    <div class="line" :key="'line' + l" v-for="l in lines">
      <input-box :itemId="c + scroll.right" :lineId="l + scroll.vert" :key="'id' + c + 'line' + l" v-for="c in columns"/>
    </div>
  </div>
</template>

<script>
import inputBox from "./components/input-box.vue";
import { mapState } from "vuex";

export default {
  name: "app",
  computed: {
    ...mapState([
      "lines",
      "columns",
      "scroll"
    ])
  },
  components: {
    inputBox
  },
  methods: {},
  mounted() {
    //compute window size and adds event listeners on resize and scroll
    let b = document.getElementsByTagName("body")[0];
    b.style.height =
      this.$store.state.itemSizes.height * this.$store.state.full.lines + "px";
    b.style.width =
      this.$store.state.itemSizes.width * this.$store.state.full.columns + "px";

    this.$store.commit("windowSizes", {
      height: window.outerHeight,
      width: window.outerWidth,
    });
    let i = this;
    window.addEventListener("resize", function() {
      i.$store.commit("windowSizes", {
        height: window.outerHeight,
        width: window.outerWidth
      });
    });

    window.addEventListener("scroll", function() {
      i.$store.commit("scroll", {
        x: pageXOffset,
        y: pageYOffset
      });
    });
  }
};
</script>

<style>
body {
  margin: 0;
  top: 0;
  left: 0;
  right: -999999999px;
  bottom: -999999999px;
}
#app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
}
.line {
  display: flex;
}
</style>